.signin{
    display:flex;
flex-direction:column;
   
}
.sig1{
    background-color: black;
    width: 50%;
    height:500px;
    border-radius: 15%;
    margin: auto;
}
.signin div input{
    box-shadow: 1px 2px 3px whitesmoke;
    margin-top: 40px;
    padding: 10px;
    border-radius: 15%;
}
.sig1 button{
    box-shadow: 1px 2px 3px whitesmoke;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10%;
}
 p{
    text-shadow: 2px 2px 2px whitesmoke;
    color: aqua;
   font-size: large;
}

table, th, td {
    border: 1px solid black;
  }